<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sinclairstudios.dumplings"
          android:versionCode="2"
          android:versionName="20140416">

    <uses-sdk android:minSdkVersion="17"
              android:targetSdkVersion="19"/>

    <application
            android:supportsRtl="true"
            android:allowBackup="true"
            android:icon="@drawable/simple_dumpling"
            android:label="@string/applicationName"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.activity.MainActivity_"
                android:label="@string/applicationName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activity.YourOrderActivity_"
                android:label="@string/yourOrderName"
                android:parentActivityName=".ui.activity.MainActivity_">
        </activity>
        <activity
                android:name=".ui.activity.AboutActivity_"
                android:label="@string/aboutName"
                android:parentActivityName=".ui.activity.MainActivity_">
        </activity>
        <activity
                android:name=".ui.activity.RatingsActivity_"
                android:label="@string/ratingsAndRatiosButton"
                android:windowSoftInputMode="adjustResize"
                android:parentActivityName=".ui.activity.MainActivity_">
        </activity>
        <activity
                android:name=".ui.activity.SpecificServingsActivity_"
                android:label="@string/specificServingsButton"
                android:windowSoftInputMode="adjustResize"
                android:parentActivityName=".ui.activity.MainActivity_">
        </activity>
    </application>
</manifest>